In [15]:
import pandas as pd
import re

In [5]:
bj = pd.read_csv('model_data/밥정.csv')
bj

,영화명,블로그리뷰,평점리뷰
0,밥정,그 시작종을 알린 영화 <b>밥정</b>. 임지호 선생님의 자전적인 이야기가 가득 ...,그리움 이라는걸 제 멋대로 상상해보니 감당이 안됩니다. 저는 그리움을 찾아 떠나볼...

1. 밥정.csv는 밥정 영화에 대한 한줄짜리 csv파일입니다. 블로그리뷰컬럼은 네이버오픈 API를 이용해서 json파일로 받은 데이터이고, 평점리뷰컬럼은 네이버영화 에서 역대평점랭킹순서대로 정렬해놓은 곳에서 크롤링한 데이터입니다. 2. 네이버평점리뷰.csv는 2000개 영화들을 크롤링하는 과정에서 약20여개가  처음에는 크롤링이 안되서 이것들을 나중에 개별적으로 따로 크롤링해서 concat시켰기 때문에 영화명순서가 원래 네이버 데이터 랭킹순서랑 다름을 말씁드립니다. 3. 추가된 영화.csv는 권섭님이 보내주신 추가된_영화명(블로그,한줄평필요).csv의 영화명을 가지고 네이버오픈 API를 이용해서 얻은 데이터이고, 평점리뷰컬럼을 추가하려 했지만 각각의 영화명에 매치하는 영화code를 파악하려고 추가 크롤링을 하는 과정에 시간이 너무 많이 걸려 하지 못했음을 말씀드립니다. 수고하세요~

In [6]:
df1 = pd.read_csv('model_data/네이버평점리뷰1_2000_100321_01.csv')
df1.tail()

             영화명                                               평점리뷰
1677         유레루  잔잔하지만 무겁고 강렬한 일본 영화.일본영화중 BEST3안에 들어가는 작품.버스정류...
1678  우리 집에 왜 왔니  내가 사랑하는 사람이 날 사랑하는 건 기적이다. 이 한마디가 깊게 남는다. 그래서 ...
1679   리스본행 야간열차  사실 이 영화의 숨은 주인공은 교장선생님....정말 성인군자이시다와우...정말 지적...
1680        파프리카  영화를 보는 내내 꿈속에 있는 기분. 영화가 끝나고 나면 긴 꿈을 꾸다 잠에서 깬듯...
1681     블루 발렌타인  낭만적이지만 어린애 같은 남자. 사랑에 목마르지만 잔인하게 현실적인 여자딘이 반지던...

In [ ]:
df2 = pd.read_csv('model_data/네이버평점리뷰1_2000_100321_02.csv')
df2.tail()

In [7]:
df3 = pd.read_csv('model_data/네이버평점리뷰1_2000_100321_extra.csv')
df3.tail()

             영화명                                               평점리뷰
15          어톤먼트  진짜 브라이오니는 희대의 나쁜년임..ㅡㅡ결국 브라이니는 "겁이 나서" 실제로 피해자...
16     슬럼독 밀리어네어  우리나라에 많이 돌아다니는 자막 보면 맨 마지막에 it is written 을 '소...
17     원피스 필름 골드  관람객 이건 자막으로 봐야한다. 왜냐하면 '기모찌' 때문이다.관람객 조로 사자의노래...
18         크리드 2  록키시리즌데 국내 상영관 수 실화냐 ㅜㅜㅜ이렇게 잘 만든 영화를 수입해놓고, 상영시...
19  사랑보다 아름다운 유혹  라이언필립 이땐 정말 훈남이였네요 ㅠㅠ 이떄의 필립을 돌려다오 ㅠㅠ ㅋㅋ영화 괜찮았...

In [16]:
df = pd.concat([df1, df2, df3]).reset_index(drop=True)
df['평점리뷰'] = df['평점리뷰'].astype(str).apply(lambda x : re.sub('관람객', '', x))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1951 entries, 0 to 1950
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영화명     1951 non-null   object
 1   평점리뷰    1951 non-null   object
dtypes: object(2)
memory usage: 30.6+ KB

In [19]:
q.to_csv('model_data/네이버평점리뷰.csv', index=False)

In [23]:
e = pd.read_csv('model_data/네이버평점리뷰.csv')
e.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1951 entries, 0 to 1950
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영화명     1951 non-null   object
 1   평점리뷰    1951 non-null   object
dtypes: object(2)
memory usage: 30.6+ KB

In [21]:
r = pd.read_csv('model_data/추가된_영화.csv')
r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영화명     98 non-null     object
 1   블로그리뷰   98 non-null     object
dtypes: object(2)
memory usage: 1.7+ KB